[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.dependencies]
thiserror = "1.0.63"
tracing = "0.1.40"
proptest = "1.5.0"

[profile.release]
lto = true
codegen-units = 1
strip = true

[workspace.lints.clippy]
print_stderr = "warn"
print_stdout = "warn"
