[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.dependencies]
thiserror = "1.0.64"
tracing = "0.1.40"
proptest = "1.5.0"
flume = "0.11.1"

[profile.release]
lto = true
codegen-units = 1
strip = true
# https://smallcultfollowing.com/babysteps/blog/2024/05/02/unwind-considered-harmful/
panic = "abort"

[profile.test]
opt-level = 3

[workspace.lints.clippy]
print_stderr = "warn"
print_stdout = "warn"
