[package]
name = "kernel"
version = "0.1.0"
edition = "2021"

[dependencies]
config = { version = "0.1.0", path = "../config" }
thiserror.workspace = true
tracing.workspace = true

[dev-dependencies]
proptest.workspace = true

[lints]
workspace = true
