[package]
name = "preload-rs"
version = "0.1.0"
edition = "2021"

[dependencies]
# inter-crate
config = { version = "0.1.0", path = "../config" }
kernel = { version = "0.1.0", path = "../kernel" }
# workspace dependencies
thiserror.workspace = true
tracing.workspace = true
flume.workspace = true
anyhow = { version = "1.0.91", features = ["backtrace"] }
clap = "4.5.20"
clap-verbosity-flag = "2.2.2"
tokio = { version = "1.40.0", features = ["macros", "parking_lot", "rt-multi-thread", "signal", "time"] }
tracing-subscriber = "0.3.18"
tracing-log = "0.2.0"

[dev-dependencies]
proptest.workspace = true

[lints]
workspace = true
