[package]
name = "preload-rs"
version = "0.1.0"
edition = "2021"

[dependencies]
# inter-crate
config = { version = "0.1.0", path = "../config" }
kernel = { version = "0.1.0", path = "../kernel" }
# workspace dependencies
thiserror.workspace = true
tracing.workspace = true
flume.workspace = true
anyhow = { version = "1.0.91", features = ["backtrace"] }
clap = { version = "4.5.20", features = ["wrap_help"] }
clap-verbosity-flag = "2.2.2"
tokio = { version = "1.41.0", features = ["macros", "parking_lot", "rt-multi-thread", "signal", "time"] }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
glob = "0.3.1"

[dev-dependencies]
proptest.workspace = true

[lints]
workspace = true
